@CHARSET "ISO-8859-1";

#backgroundimage {
	height: 50px;
	left: 0;
	margin: 0;
	min-height: 15%;
	min-width: 674px;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

#pswd_info ul {
    list-style: outside none none;
}

#email_info ul {
    list-style: outside none none;
}

#email_info ul li {
   padding: 10px 45px;
}

#phone_info ul {
    list-style: outside none none;
}

#phone_info ul li {
   padding: 10px 45px;
}

#user_info ul {
    list-style: outside none none;
}

#user_info ul li {
   padding: 10px 45px;
}

#username_info ul {
    list-style: outside none none;
}

#admin_oldcheck_info ul {
    list-style: outside none none;
}

#admin_newcheck_info ul {
    list-style: outside none none;
}

#username_info ul li {
   padding: 10px 45px;
}

 

#phone_info {
	background: #dfdfdf;
	left: 790px;
	position: absolute;
	top: 400px;
	width: 325px;
	border-radius:25px;
}


.navbar-inverse {
    background-color: none;
    border-color: none;
}

#user_info {
	 
	background:#dfdfdf;
	left: 790px;
	position: absolute;
	top: 100px;
	width: 325px;
	border-radius: 25px;
}


 
#username_info {
	 border-radius: 25px;
	background:#dfdfdf;
	left: 430px;
	position: absolute;
	top: 190px;
	width: 325px;
}


 
#pswd_info {
	background: #dfdfdf;
	left: 430px;
	position: absolute;
	top: 200px;
	width: 325px;
	border-radius: 25px;
}

 

#email_info {
	background: #dfdfdf;
	left: 70px;
	position: absolute;
	top: 330px;
	width: 325px;
	border-radius: 25px;
}

 #admin_oldcheck_info {
	background: #dfdfdf;
	left: 825px;
	position: fixed;
	top: 200px;
	width: 325px;
	border-radius: 25px;
}

 #admin_newcheck_info {
	background: #dfdfdf;
	left: 825px;
	position: fixed;
	top: 350px;
	width: 325px;
	border-radius: 25px;
}
 

#pswd_info ul li {
   padding: 10px 45px;
}

#chpswd_info {
	background: #dfdfdf;
	left: -150px;
	position: absolute;
	top: 160px;
	width: 325px;
	border-radius: 25px;
}
#chpswd_info>ul {
	list-style: outside none none;
}
#chpswd_info ul li {
	padding: 10px 45px;
}
.valid {
	background: rgba(0, 0, 0, 0) url("https://s19.postimg.org/vq43s2wib/valid.png") no-repeat scroll 2px 6px;
	color: green;
	line-height: 21px;
	padding-left: 22px;
}

.invalid {
	background: rgba(0, 0, 0, 0) url("https://s19.postimg.org/olmaj1p8z/invalid.png") no-repeat scroll 2px 6px;
	color: red;
	line-height: 21px;
	padding-left: 22px;
}

.glyphicon glyphicon-ok{
	display:show;
}

.table-bordered > thead > tr{
 border:   solid;
 }
.table-bordered > tbody  tr{
border:   solid;
}

.table-bordered > tbody  tr td{
border: solid;
}
.table-bordered > tbody>tr>th{
border: solid;
}

#content1 {
    position: absolute;
    left: 35%;
    border-color: navy;
    
}
#content2{
     width: 150%;
}

#content3 {
    position: absolute;
    left: 40%;
}
#content4 {
    position: absolute;
    left: 35%;
    top: 25%;
    border-color: navy;
}

#content5 {
    position: absolute;
   left: 35%;
    top: 25%;
    border-color: navy;
}

#content6 {
    position: absolute;
   left: 35%;
    top: 25%;
    border-color: navy;
}
 div.fa{
color: blue;
}  

#panelchangepass {
	padding: 10px;
	margin: 10px;
	border-radius: 15px;
	text-align: center;
	background-color: white;
	border: solid 5px #c3c3c3;
	width: 800px;
	margin: 0 auto;
	border: solid 1px #00ff00;
	color: #008040;
	display: none; 
}
#panelassign {
	padding: 10px;
	margin: 10px;
	border-radius: 15px;
	text-align: center;
	background-color: white;
	border: solid 5px #c3c3c3;
	width: 800px;
	margin: 0 auto;
	border: solid 1px #00ff00;
	color: #008040;
	display: none; 
}

#paneladdproj {
	padding: 10px;
	margin: 10px;
	border-radius: 15px;
	text-align: center;
	background-color: white;
	border: solid 5px #c3c3c3;
	width: 800px;
	margin: 0 auto;
	border: solid 1px #00ff00;
	color: #008040;
	display: none; 
}

#panelregemp {
	padding: 10px;
	margin: 10px;
	border-radius: 15px;
	text-align: center;
	background-color: white;
	border: solid 5px #c3c3c3;
	width: 800px;
	margin: 0 auto;
	border: solid 1px #00ff00;
	color: #008040;
	display: none; 
}
 